@font-face {
    font-family: 'Google Sans';
    src: url('../fonts/GoogleSans-Regular.ttf');
}
@font-face {
    font-family: 'Google Sans';
    font-weight: bold;
    src: url('../fonts/GoogleSans-Bold.ttf');
}
@font-face {
    font-family: 'Google Sans';
    font-weight: medium;
    src: url('../fonts/GoogleSans-Medium.ttf');
}